<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Our company is a new established e-commerce website
       that specializes in the sale of watches. 
       We believe in delivering our customers with
        high-quality watches at affordable prices, 
        ensuring that our customers always receive 
        the best value for their money.</p>
  </body>
</html>
