<!DOCTYPE html>
<html>
  <head>
    <!-- Set the title of the page -->
    <title> <%= title %> </title>
    <!-- Link to the style sheet -->
    <link rel = 'stylesheet' href = '/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p>Please send an email to johndoe@email.com  </p>
  </body>
</html>