<h1>New Record</h1>
<form action="/watches" method="post">
  <table border = '1'>
    <tr>
      <td>model:</td>
      <td><input type="text" name="model" required></td>
    </tr>

    <tr>
      <td>material:</td>
      <td><input type="text" name="material" required></td>
    </tr>

  
    <tr>
        <td>movement:</td>
        <td><input type="text" name="movement" required></td>
      </tr>
  
    <tr>
      <td>complications:</td>
      <td><input type="text" name="complications" required></td>
    </tr>

        
      <td>size:</td>
      <td><input type="number"  step="any" name="size" required></td>
    </tr>
    
    <tr>
      <td>price:</td>
      <td><input type="number" step="any" name="price" required></td>
    </tr>

    <tr>
      <td>status</td>
      <td><input type="text" name="status">
    </td>

    <tr>
      <td>manufacturer</td>
      <td><input type="number" name="manufacturer_id">
    </td>
    
    
  </table>
  <button type="submit">Save</button>

</form>